* {
    font-family: "Fira Code", monospace;
}

html {
    margin-bottom: 10%;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #282d35;
    color: white;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

code {
    background-color: #3b3f4a;
    /*border: 1px solid #3b3f4a;*/
    display: inline-block;
    padding-right: 0.6%;
    padding-left: 0.6%;
    padding-top: 0%;
    padding-bottom: 0.1%;
    border-radius: 4px;
}

.center {
    display: flex;
    justify-content: center;
}

div.page {
    position: relative;
    height: 100%;
}

.nomargin {
    margin: 0px;
}

#hello_friend {
    margin: 0px;
    position: absolute;
    top: 50%;
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    text-align: center;
}

/*@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}*/
