* {
    font-family: "Fira Code", monospace;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #121018;
    color: white;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* Code blocks */
code {
    background-color: #202024;
    display: inline-block;
    padding-right: 0.6%;
    padding-left: 0.6%;
    padding-top: 0%;
    padding-bottom: 0.1%;
    border-radius: 4px;
}

.hidden {
    visibility: hidden;
}

/* Fade in */
.fade-in {
    opacity: 0;
    transition: opacity 800ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

.fade-in.appear {
    opacity: 1;
}
/* End fade in*/

/* Text sizes and styles */
.bold {
    font-weight: 900;
}

.italic {
    font-style: italic;
}

/* Sizes */
.small {
    font-size: 20px;
}

.medium {
    font-size: 28px;
}

.big {
    font-size: 35px;
}

.bigger {
    font-size: 50px;
}
/* End text sizes and styles */

/* End sizes */

div {
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    /*background-color: darkslateblue;*/
}

/* Pages */
div.page {
    height: 100%;
}

.pg1 .center {
    display: flex;
    justify-content: center;
}

div.halfpage {
    position: relative;
    height: 50%;
}
/* End pages */

.nomargin {
    margin: 0px;
}

#hello_friend {
    margin: 0px;
    position: absolute;
    top: 50%;
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    text-align: center;
}

#whoami {
    color: #ff2c83;
}

/* Cards */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    padding: 20px;
    grid-gap: 40px;
}

.cards .card img {
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}

.cards .card {
    background-color: #202024;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
    overflow: hidden;

    transition: transform 150ms ease-in;
}

.cards .card:hover {
    transform: scale(1.04);
}

.card .details {
    margin-left: 30px;
}

.card .details h3 {
    position: relative;
    font-family: "Mr Robot", TrueType;
    font-weight: normal;
    width: max-content;
    max-width: 100%;
    color: #ff2c83;
}

.card .details h3::after {
    content: "";
    position: absolute;
    height: 4px;
    left: 0;
    bottom: -4px;
    width: 100%;
    background: #ff2c83;
    transform: scaleX(0);

    transform-origin: left;
    transition: transform 150ms ease-in;
}

.cards .card:hover .details h3::after {
    transform: scaleX(1);
}

.card .details p {
    line-height: 30px;
}

.card .container {
    position: relative;
    margin-top: 0;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.cards .card:hover .container::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.3;
}

.cards .card:hover > .container::after {
    background-image: linear-gradient(135deg, #ff616e, #4e94ce);
}

@media only screen and (max-width: 500px) {
    .cards {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .card .details {
        margin-left: 15px;
    }

    .card .details h3 {
        max-width: min-content;
    }
}

/* End cards */
